body{
	margin: 0;
	color: #363;
}
a{
	text-decoration: none;
	color: #099;
}
a:hover{
	color: #0CC;
}
img{
	vertical-align: bottom;
}
.containts{
	width: 580px;
	margin: 0 auto;
	padding: 10px;
	background: #CFC;
}


/* ◆◆ナビゲーションの子要素◆◆ */
/*
nav div{
	background: #6F9;
	width: 285px;
	height: 50px;
	position: relative;
	text-align: center;
}
*/
h1, h2, h3, h4{
	border-left: solid 20px #FB3;
	padding-left: 20px;
	background: #FFF;
	color: #960;
}


/* ◆◆テーブルのCSS◆◆ */
table{
	border-spacing: 0;
}
td{
	padding: 0;
}
/*
.list td,
.list th,
.list td{
	border: solid 2px;
}
*/
.list{
/*	border: solid 2px;*/
	background: #FFF;
}
.list th{
	background: #ccc;
	border-top: solid 3px;
	border-bottom: solid 3px;
	text-align: center;
}
.list td{
	padding: 0 20px;
}
